In [1]:
import pandas as pd
from univariate import univariate
import numpy as np

Tips for pre-processing:

Check for column names and find error there itself!!
Remove '$' sign and '-' from all columns where they are present
Change datatype from objects to int after the above two.
Challenge: Try removing " , " (comma) from all numerical numbers.

In [2]:
dataset=pd.read_csv("Financials.csv")

In [3]:
dataset

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$7,42,500.00","$1,11,375.00","$6,31,125.00","$6,18,750.00","$12,375.00",01/03/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$1,63,800.00","$24,570.00","$1,39,230.00","$1,36,500.00","$2,730.00",01/10/2014,10,October,2014
697,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",01/02/2014,2,February,2014
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,01/04/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",01/05/2014,5,May,2014

In [4]:
#Check for column names and find error there itself!!
dataset.columns=dataset.columns.str.strip() # Trim the space from the column names
#dataset['Discounts']=dataset['Discounts'].str.strip()

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              700 non-null    object
 1   Country              700 non-null    object
 2   Product              700 non-null    object
 3   Discount Band        700 non-null    object
 4   Units Sold           700 non-null    object
 5   Manufacturing Price  700 non-null    object
 6   Sale Price           700 non-null    object
 7   Gross Sales          700 non-null    object
 8   Discounts            700 non-null    object
 9   Sales                700 non-null    object
 10  COGS                 700 non-null    object
 11  Profit               700 non-null    object
 12  Date                 700 non-null    object
 13  Month Number         700 non-null    int64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    int64
dtypes: int64(2), object(14)
memory usage: 87.6+ KB

In [6]:
df=dataset.copy()

# Remove '$' sign and '-' from all columns where they are present
# Change datatype from objects to int after the above two.
# Challenge: Try removing " , " (comma) from all numerical numbers.

In [7]:
quan=['Units Sold','Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts','Sales', 'COGS', 'Profit']
for col in quan:
    df[col] = df[col].astype(str)         
    df[col] = df[col].str.replace(r'[^0-9.-]', '', regex=True) 
    df[col] = df[col].replace({'':'0','-': '0'}) 
    df[col]=df[col].str.strip()
    df[col] = df[col].astype(float)

In [8]:
df.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       'Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [9]:
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,0.00,32370.00,16185.0,16185.00,01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,0.00,26420.00,13210.0,13210.00,01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3.0,15.0,32670.0,0.00,32670.00,21780.0,10890.00,01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,0.00,13320.00,8880.0,4440.00,01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,0.00,37050.00,24700.0,12350.00,01/06/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260.0,300.0,742500.0,111375.00,631125.00,618750.0,12375.00,01/03/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260.0,300.0,163800.0,24570.00,139230.00,136500.0,2730.00,01/10/2014,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5.0,7.0,9576.0,1436.40,8139.60,6840.0,1299.60,01/02/2014,2,February,2014
698,Government,Canada,Paseo,High,723.0,10.0,7.0,5061.0,759.15,4301.85,3615.0,686.85,01/04/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250.0,12.0,21672.0,3250.80,18421.20,5418.0,13003.20,01/05/2014,5,May,2014

In [10]:
df.isna().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             0
Manufacturing Price    0
Sale Price             0
Gross Sales            0
Discounts              0
Sales                  0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64

In [11]:
dfInfo=univariate.tableDescripe(df,quan)

In [12]:
dfInfo

,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit
mean,1608.294286,96.477143,118.428571,182759.426429,13150.354671,169609.071843,145475.211429,26354.778271
median,1542.5,10.0,20.0,37980.0,2585.25,35540.2,22506.25,11110.55
mode,727.0,10.0,7.0,4404.0,0.0,1685.6,17430.0,0.0
Q1:25%,905.0,5.0,12.0,17391.75,800.32,15928.0,7490.0,3815.7075
Q2:50%,1542.5,10.0,20.0,37980.0,2585.25,35540.2,22506.25,11110.55
Q3:75%,2229.125,250.0,300.0,279025.0,15956.3475,261077.5,245607.5,23756.36
99%,3875.205,260.0,350.0,1006950.0,109169.775,978321.75,748022.3,236716.0
Q4:100%,4492.5,260.0,350.0,1207500.0,149677.5,1159200.0,950625.0,262200.0
IQR,1324.125,245.0,288.0,261633.25,15156.0275,245149.5,238117.5,19940.6525
1.5rule,1986.1875,367.5,432.0,392449.875,22734.04125,367724.25,357176.25,29910.97875
lesser,-1081.1875,-362.5,-420.0,-375058.125,-21933.72125,-351796.25,-349686.25,-26095.27125
greater,4215.3125,617.5,732.0,671474.875,38690.38875,628801.75,602783.75,53667.33875
min,200.0,3.0,7.0,1799.0,0.0,1655.08,918.0,0.0
max,4492.5,260.0,350.0,1207500.0,149677.5,1159200.0,950625.0,262200.0
skewness,0.436154,0.592584,0.771282,1.673922,2.685039,1.696295,1.549048,2.893448
kurtosis,-0.315318,-1.428963,-1.176789,2.054301,7.905712,2.188633,1.608463,9.533538

In [13]:
Lesser,Greater=univariate.outliers(quan,dfInfo)

In [14]:
Lesser

[]

In [15]:
Greater

['Units Sold', 'Gross Sales', 'Discounts', 'Sales', 'COGS', 'Profit']

In [16]:
univariate.outliers_replace(Lesser,Greater,df,dfInfo)

In [17]:
dfInfo = univariate.tableDescripe(df, quan)

In [18]:
Lesser,Greater=univariate.outliers(quan,dfInfo)

In [19]:
Lesser

[]

In [20]:
Greater

[]

In [21]:
dfInfo

,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit
mean,1607.801071,96.477143,118.428571,169546.02375,9917.082037,157902.300414,139900.625714,17930.642586
median,1542.5,10.0,20.0,37980.0,2585.25,35540.2,22506.25,11110.55
mode,727.0,10.0,7.0,671474.875,38690.38875,628801.75,602783.75,53667.33875
Q1:25%,905.0,5.0,12.0,17391.75,800.32,15928.0,7490.0,3815.7075
Q2:50%,1542.5,10.0,20.0,37980.0,2585.25,35540.2,22506.25,11110.55
Q3:75%,2229.125,250.0,300.0,279025.0,15956.3475,261077.5,245607.5,23756.36
99%,3875.205,260.0,350.0,671474.875,38690.38875,628801.75,602783.75,53667.33875
Q4:100%,4215.3125,260.0,350.0,671474.875,38690.38875,628801.75,602783.75,53667.33875
IQR,1324.125,245.0,288.0,261633.25,15156.0275,245149.5,238117.5,19940.6525
1.5rule,1986.1875,367.5,432.0,392449.875,22734.04125,367724.25,357176.25,29910.97875
lesser,-1081.1875,-362.5,-420.0,-375058.125,-21933.72125,-351796.25,-349686.25,-26095.27125
greater,4215.3125,617.5,732.0,671474.875,38690.38875,628801.75,602783.75,53667.33875
min,200.0,3.0,7.0,1799.0,0.0,1655.08,918.0,0.0
max,4215.3125,260.0,350.0,671474.875,38690.38875,628801.75,602783.75,53667.33875
skewness,0.423247,0.592584,0.771282,1.268153,1.271502,1.284285,1.284408,1.071701
kurtosis,-0.366631,-1.428963,-1.176789,0.194443,0.041707,0.237431,0.339579,-0.295656