In [15]:
import pandas as pd
from univariate import univariate
import numpy as np

In [3]:
dataset=pd.read_csv("Placement.csv")

In [4]:
dataset.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [6]:
quan,qual=univariate.quanqual(dataset)

In [7]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [8]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [9]:
dfInfo=univariate.tableDescripe(dataset,quan)

In [10]:
dfInfo

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99%,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
min,1,40.89,37.0,50.0,50.0,51.21,200000.0
max,215,89.4,97.7,91.0,98.0,77.89,940000.0
skewness,0.0,-0.132649,0.163639,0.244917,0.282308,0.313576,3.569747
kurtosis,-1.2,-0.60751,0.450765,0.052143,-1.08858,-0.470723,18.544273

In [11]:
dataset['ssc_p'].var()

117.22837673549229

In [12]:
dataset['ssc_p'].std()

10.827205398231452

In [17]:
 def tableDescripe(dataset,quan):
        df=pd.DataFrame(index=['mean','median','mode','Q1:25%','Q2:50%','Q3:75%','99%','Q4:100%','IQR','1.5rule','lesser','greater','min','max','skewness','kurtosis','var','std'],columns=quan)
        for columnname in quan:
            #df[columnname]["mean"]=dataset[columnname].mean()
            df.loc["mean",columnname]=dataset[columnname].mean()
            df.loc["median",columnname]=dataset[columnname].median()
            df.loc["mode",columnname]=dataset[columnname].mode()[0]
            df.loc["Q1:25%",columnname]=dataset.describe()[columnname]['25%']
            df.loc["Q2:50%",columnname]=dataset.describe()[columnname]['50%']
            df.loc["Q3:75%",columnname]=dataset.describe()[columnname]['75%']
            df.loc["99%",columnname]=np.percentile(dataset[columnname],99)
            df.loc["Q4:100%",columnname]=dataset.describe()[columnname]['max']
            df.loc["IQR",columnname]=df.loc["Q3:75%",columnname]-df.loc["Q1:25%",columnname]
            df.loc["1.5rule",columnname]=1.5*df.loc["IQR",columnname]
            df.loc["lesser",columnname]=df.loc["Q1:25%",columnname]-df.loc["1.5rule",columnname]
            df.loc["greater",columnname]=df.loc["Q3:75%",columnname]+df.loc["1.5rule",columnname]
            df.loc["min",columnname]=dataset[columnname].min()
            df.loc["max",columnname]=dataset[columnname].max()
            df.loc["skewness",columnname]=dataset[columnname].skew()
            df.loc["kurtosis",columnname]=dataset[columnname].kurtosis()
            df.loc["var",columnname]=dataset[columnname].var()
            df.loc["std",columnname]=dataset[columnname].std()
        return df

In [18]:
tableDescripe(dataset,quan)

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
99%,212.86,87.0,91.86,83.86,97.0,76.1142,NaN
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
lesser,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
greater,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
min,1,40.89,37.0,50.0,50.0,51.21,200000.0
max,215,89.4,97.7,91.0,98.0,77.89,940000.0
skewness,0.0,-0.132649,0.163639,0.244917,0.282308,0.313576,3.569747
kurtosis,-1.2,-0.60751,0.450765,0.052143,-1.08858,-0.470723,18.544273
var,3870.0,117.228377,118.755706,54.151103,176.251018,34.028376,8734295412.759695
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.45242